In [75]:
import os
import cv2
import numpy as np 
import pandas as pd
import time 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder

In [76]:
os.getcwd()

'/data/transfg/2_55_experiment/make_data'

In [77]:
try:
    os.mkdir('/data/transfg/2_55_experiment/datasets/custom')
except: 
    print('already exist')

already exist

In [78]:
folder_list = sorted(os.listdir('/data/transfg/2_55_experiment/datasets/custom/')) 
folder_list[:5]

['BMW#1시리즈_F20(2012)',
 'BMW#1시리즈_F40(2020)',
 'BMW#2시리즈_F44(2020)',
 'BMW#2시리즈_F45(2015)',
 'BMW#3시리즈_E90(2005)']

In [79]:
import shutil
path = '/data/transfg/2_55_experiment/datasets/make_data/'
for i in folder_list: 
    try:
        shutil.rmtree((os.path.join(path,i,'.ipynb_checkpoints')))
        print('remove')
    except: 
        #print('pass')
        pass

In [80]:
os.path.join(path,i,'.ipynb_checkpoints')

'/data/transfg/2_55_experiment/datasets/make_data/혼다#어코드_올 뉴(2008)/.ipynb_checkpoints'

In [81]:
import shutil
path = '/data/transfg/2_55_experiment/datasets/custom/'
for i in folder_list: 
    try:
        shutil.rmtree((os.path.join(path,i,'.ipynb_checkpoints')))
        print('remove')
    except: 
        #print('pass')
        pass

In [82]:
df = pd.DataFrame()

In [83]:
path = '/data/transfg/2_55_experiment/datasets/custom/'
for i in folder_list: 
    df_ = pd.DataFrame({'path': os.listdir(os.path.join(path,i)),'folder':i,'label_':i.split('.')[0]}) 
    df = df.append(df_)

In [84]:
df = df.sort_values('folder') 
df

                               path              folder              label_
0     C-220811_07_CR01_02_A0164.jpg  BMW#1시리즈_F20(2012)  BMW#1시리즈_F20(2012)
1216  C-220924_16_CR05_03_A1091.jpg  BMW#1시리즈_F20(2012)  BMW#1시리즈_F20(2012)
1215  C-221002_13_CR11_02_A0120.jpg  BMW#1시리즈_F20(2012)  BMW#1시리즈_F20(2012)
1214  C-220907_17_CR02_03_A0917.jpg  BMW#1시리즈_F20(2012)  BMW#1시리즈_F20(2012)
1213  C-220903_14_CR02_01_A0127.jpg  BMW#1시리즈_F20(2012)  BMW#1시리즈_F20(2012)
...                             ...                 ...                 ...
934   C-220715_17_SR10_01_A0343.jpg    혼다#어코드_올 뉴(2008)    혼다#어코드_올 뉴(2008)
935   C-221019_07_CR05_01_A0542.jpg    혼다#어코드_올 뉴(2008)    혼다#어코드_올 뉴(2008)
936   C-221110_16_AR08_04_A0500.jpg    혼다#어코드_올 뉴(2008)    혼다#어코드_올 뉴(2008)
928   C-221015_06_AR03_03_A0901.jpg    혼다#어코드_올 뉴(2008)    혼다#어코드_올 뉴(2008)
2798  C-220805_08_CR03_02_A0065.jpg    혼다#어코드_올 뉴(2008)    혼다#어코드_올 뉴(2008)

[1839803 rows x 3 columns]

In [85]:
# 클래스 개수가 3개 미만인 차량 모델은 학습에서 제외
need_delete_label = df.label_.value_counts()[df.label_.value_counts()<10].keys()

In [86]:
df[df['label_'].isin(need_delete_label)]#.to_excel('../10개미만_제외차종목록.xlsx')

                            path              folder              label_
5  C-220811_16_CR02_01_A0830.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
6  C-220922_11_CR11_03_A1543.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
8  C-220802_17_CR13_01_A0795.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
4  C-221008_12_CR06_03_A0613.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
7  C-221019_09_SR05_01_A0246.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
2  C-221003_16_CR12_01_A1617.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
0  C-221002_15_SR12_01_A0467.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
3  C-220805_16_CR03_02_A0286.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
1  C-220914_16_CR02_01_A0276.jpg  닛산#370Z_370Z(2013)  닛산#370Z_370Z(2013)
0  C-220712_18_CR14_03_A0683.jpg               현대#포터               현대#포터

In [87]:
df = df[~df['label_'].isin(need_delete_label)]

In [88]:
label = LabelEncoder()
label.fit(df['label_'])

LabelEncoder()

In [89]:
df['label'] = label.transform(df['label_'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
df['path'] = df['folder']+'/'+df['path']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
df['path'] = df['path'].apply(lambda x: os.path.join(path,x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
df = df.reset_index(drop=True)

In [93]:
df = df.drop('folder',axis=1)

df['size'] = df['path'].apply(lambda x: sum(cv2.imread(x).shape))

df.sort_values('size')[:10]['path'].values

In [94]:
df['path'][0]

'/data/transfg/2_55_experiment/datasets/custom/BMW#1시리즈_F20(2012)/C-220811_07_CR01_02_A0164.jpg'

In [95]:
df = df.sample(df.shape[0])
df

,path,label_,label
887364,/data/transfg/2_55_experiment/datasets/custom/...,쉐보레(GM대우)#스파크_스파크(2011),202
369159,/data/transfg/2_55_experiment/datasets/custom/...,기아#셀토스_셀토스(2019),65
1051139,/data/transfg/2_55_experiment/datasets/custom/...,폭스바겐#티구안_2세대(2018),323
6998,/data/transfg/2_55_experiment/datasets/custom/...,BMW#3시리즈_F30(2012),5
451072,/data/transfg/2_55_experiment/datasets/custom/...,기아#쏘렌토_4세대(2020),72
...,...,...,...
315652,/data/transfg/2_55_experiment/datasets/custom/...,기아#봉고_봉고 Ⅲ(Unknown),63
863341,/data/transfg/2_55_experiment/datasets/custom/...,쉐보레(GM대우)#스파크_더 넥스트(2015),200
59261,/data/transfg/2_55_experiment/datasets/custom/...,기아#K3_K3(2012),30
1642836,/data/transfg/2_55_experiment/datasets/custom/...,현대#제네시스_G80(2016),396
1579510,/data/transfg/2_55_experiment/datasets/custom/...,현대#아이오닉_5(2021),384

In [96]:
df.drop_duplicates('label').sort_values('label').reset_index(drop=True).drop('path',axis=1).to_csv('../label_encoding.csv')

In [97]:
# 1클래스당 최소 2개이상의 샘플이 있어야 사용 가능함
train_x,test_x_,train_y,test_y_ = train_test_split(df,df['label'],stratify=df['label'],test_size=0.2,random_state=22)
val_x,test_x,val_y,test_y = train_test_split(test_x_,test_y_,stratify=test_y_,test_size=0.5,random_state=22)

train_x,test_x_,train_y,test_y_ = train_test_split(df,df['label'],test_size=0.2)
val_x,test_x,val_y,test_y = train_test_split(test_x_,test_y_,test_size=0.5)

In [98]:
print(train_x.shape)
print(val_x.shape)
print(test_x.shape)

(1471834, 3)
(183979, 3)
(183980, 3)

In [99]:
train_x.to_csv('/data/transfg/2_55_experiment/train_x.csv')
val_x.to_csv('/data/transfg/2_55_experiment/val_x.csv')
test_x.to_csv('/data/transfg/2_55_experiment/test_x.csv')

df['size'] = df['path'].apply(lambda x: os.path.getsize(x))